/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

$presentation-heading-font: "Orbitron", sans-serif;
$font-family-sans-serif: "Azeret Mono", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;

$body-bg: #1C1C2B;
$body-color: #bac2de;
$presentation-heading-color: #8AC3DB;
$link-color: #fab387;
$code-color: #89b4fa;

/*-- scss:rules --*/

.qrdiv {
  position: absolute;
  top: 40%;
  right: 50%;
}
